body
{
    margin: 0;
    font-family: 'Crimson Text', serif;

}
h1
{
    font-size: 50px;
}
h2
{
    font-size: 30px;
}
.orange-highlight
{
    color:orange;
}
.bio
{
    font-family: 'Saira', sans-serif;
    color: #89868a;
}
.half-width
{
    width: 40%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img
{
    width: 100%;
}
.top-banner
{
   
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}
.bottom-banner
{
    background-image:url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section
{
    height: 500px;
    padding-bottom: 150px;
}
.Hire-button
{
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-image:linear-gradient(45deg,lightsalmon,tomato);
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
   
}
.Hire-button:hover
{
    font-size: 20px;
    background-image:linear-gradient(45deg,blue,cyan);
}
.block
{
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
}
.Experience
{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#block-line1
{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;

}
#block-line2
{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p
{
    text-align: center;
    font-size: 12px;
    font:'Saira', sans-serif ;
}
