body
{
    margin: 0;
    font-family: 'Crimson Text', serif;
}
h1
{
    font-size: 50px;
}
.hilight
{
    color:orange;
}
.bio
{
    font-family: 'Saira', sans-serif;
}
.half-width
{
    width: 40%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img
{
    width: 100%;
}
.top-banner
{
   
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}
section
{
    height: 500px;
    padding-bottom: 150px;
}
.Hire-button
{
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-image:linear-gradient(45deg,lightsalmon,tomato);
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
   
}
